%ul 
- if current_user
  %li= link_to "Sign out", destroy_user_session_path
- else
  %li= link_to "Sign in", new_user_session_path
  %li= link_to "Sign up", new_user_registration_path

%p
  %strong Notice: 
  = flash[:notice]

Something goes here