%h3 My lists

%p
  = link_to "New to-do list", new_user_todo_list_path(@user)

%table
  %tr
    %th
      Name
  
  - @todo_lists.each do |list|
    %tr{ :id => list.name.gsub(" ","").downcase + "_" + @user.id.to_s   }
      %td= link_to list.name, user_todo_list_path(@user, list)
      %td= link_to 'Edit', edit_user_todo_list_path(@user,list)
