%h3 My lists

%table
  %tr
    %th
      Name
  
  - @todo_lists.each do |list|
    %tr{ :id => list.name.gsub(" ","").downcase + "_" + @user.id.to_s   }
      %td= link_to list.name, user_todo_list_path(@user, list)
